.ShowRoadBlock {

  background-color: #EDEEF0;
  position: relative;
  min-height: 100vh;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__roadBlock {

  }

  &__inputField {
    margin: 0.8rem 1rem 0 0.5rem;
    height: 1.5rem;
  }

  &__sendBtn {
    width: 40%;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0.5rem auto;
    text-align: center;
    background-color: #2196F3;
    border-radius: 0.5rem;
  }

  &__additionalParameters {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__additionalParam {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  &__additionalParam:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__iconAdParam {
    margin-right: 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.2rem;
    border: black solid 1px;
  }

  &__textAdParam {
    text-align: center;
    font-size: 12px;
  }

  &__filled {
    background-color: black;
  }
}
