* {
    /*font-family: 'Comfortaa', serif;*/
    font-size: 18px;
    font-family: Comfortaa, serif;
}

.topPanel {
    width: 77%;
    height: 3rem;
    margin: 5rem auto auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.leftBlock {
    width: 5rem;
    /*height: 2rem;*/
    /*background-image: url(static/filterIcon.svg);*/
}

.filter {
    width: 2rem;
    height: 2rem;
}

.filterShown {
    width: 15rem;
    background: white;
    z-index: 998;
}

.bordered {
    border: black 1px solid;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem;
}

.iconSelected {
    background-color: #01FF35;
}

.container {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0.5rem;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rightBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rbTopPanel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rbIcons {
    width: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rbTitle {
    margin: 0.5rem 0 0 0.5rem;
}

.rbShown {
    background: white;
    z-index: 999;
}

.inputField {
    margin: 0.8rem 1rem 0 0.5rem;
    height: 1.5rem;
}

.mgLabel {
    margin: 0.2rem 0.5rem 0 0.5rem;
}

.officeMap {
    width: 80%;
    margin: auto auto 2rem;
    border: black 1px solid;
    border-radius: 1rem;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: row;*/
}

.omTopPanel {
    width: 90%;
    margin: auto;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.floorSwitcher {
    /*width: 90%;*/
    /*margin: auto;*/
    height: 5rem;
    /*position: relative;*/
    /*top: 2rem;*/
    /*left: 2rem;*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.switcherBtn {
    width: 2rem;
    height: 2rem;
    margin: auto;
    border: black 1px solid;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 2rem;
}

.switcherBtn:hover {
    cursor: pointer;
}

.backButton:hover {
    cursor: pointer;
}

.backButton {
    width: 4rem;
    height: 2rem;
    border: black 1px solid;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 2rem;
}

.buttonDisabled {
    opacity: 30%;
}

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
